{% if params | default(none) is not none %}
{# VRF #}
{%   if param.vrf | default(none) is not None %}
 vrf forwarding {{ params.vrf }}
{%   endif %}
{# IP MTU #}
{%   if param.ip_mtu | default(none) is not None %}
 ip mtu {{ params.ip_mtu }}
{%   endif %}
{# OSPF Section #}
{%   if params.ospf | default(none) is not none %}
{%     with params = params.ospf %}
{%       include 'ios_interface_ospf.j2' %}
{%     endwith %}
{%   endif %}
{# ISIS Section #}
{%   if params.isis | default(none) is not none %}
{%     with params = params.isis %}
{%       include 'ios_interface_isis.j2' %}
{%     endwith %}
{%   endif %}
{# BFD Section #}
{%   if params.bfd | default(none) is not none %}
{%     with params = params.bfd %}
{%       include 'ios_interface_bfd.j2' %}
{%     endwith %}
{%   endif %}
{% endif %}